.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(26, 116, 146, 0.521);
  margin-top: 0;
  padding: 0.3em;
  /* box-shadow: 5px 5px 1px grey; */
}

.navbar .is-active {
  background: rgba(0, 0, 139, 0.562);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em;
}
.navbar .barbox1 {
  display: flex;
  /* border: 1px solid black; */
  width: max-content;
  height: max-content;
}

.navbar .baruser {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: max-content;
  height: max-content;
  margin-right: 3em;
}

.navbar .barguest {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  width: 30vw;
  height: max-content;
}
